@model List<UrgencyDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@if (Model.Count != 0)
{
    <a asp-action="Create" class="btn btn-outline-dark my-2"><i class="fas fa-plus-circle"></i> Yeni Aciliyet Ekle</a>

    <table class="table table-bordered table-hover table-sm mt-2">
        <thead>
            <tr>
                <th>Id</th>
                <th>Tanım</th>
                <th>Eklenme Tarihi</th>
                <th>İşlemler</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr name="@item.Id">
                    <td>@item.Id</td>
                    <td>@item.Definition</td>
                    <td>@item.CreatedDate.ToString("D")</td>
                    <td>
                        <a asp-action="Get" asp-route-id="@item.Id" class="btn btn-warning btn-sm"><i class="far fa-edit mr-2"></i>Düzenle </a>
                        <button class="btn btn-danger btn-sm btn-delete" data-id="@item.Id"><span class="fas fa-times-circle mr-2"></span>Sil</button>
                    </td>

                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="text-center mt-4">

        <p class="lead">
            <b>Sistemde kayıtlı aciliyet durumu bulunamadı.</b>
        </p>

        <a asp-action="Create" class="btn btn-sm btn-info my-2"><i class="fas fa-check mr-2"></i>Yeni Aciliyet Ekle</a>

    </div>
}



@section Scripts{

    <script type="text/javascript">

        $(document).on('click', '.btn-delete', function () {
            event.preventDefault();
            const id = $(this).attr('data-id');
            const tableRow = $(`[name="${id}"]`);
            const urgencyDefinition = tableRow.find('td:eq(1)').text();
            Swal.fire({
                title: 'Silmek istediğinize emin misiniz?',
                text: `${urgencyDefinition}  adlı aciliyet durumu silinecektir`,
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Evet silmek istediğime eminim.',
                cancelButtonText: 'Hayır silmek istemiyorum'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        type: 'POST',
                        dataType: 'json',
                        data: { urgencyId: id },
                        url: '@Url.Action("Delete", "Urgency")',
                        success: function (data) {
                            const taskDto = jQuery.parseJSON(data);
                            if (taskDto != null) {
                                Swal.fire(
                                    'Silindi!',
                                    `${urgencyDefinition} adlı aciliyet durumu başarı ile silinmiştir`,
                                    'success'
                                );
                                tableRow.fadeOut(3500);
                            }
                            else
                            {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Hata...',
                                    text: 'Bir Hata Oluştu! resim çek ve bildir',
                                });
                            }
                        },
                        error: function (err) { console.log(err); }
                    });
                }
            })
        });

    </script>

}